/*Targeting ELEMENTS / TAGS*/


/*p{
    font-size:12px;
    color: red;
}

a{
    text-decoration: underline;
    color: blue;
}
span{
    text-transform: uppercase;
}

h1{
    font-size: 32px;
}
div{
    width:100%;
    background-color: grey;
}
*/


/*Targeting ELEMENTS / TAGS*/


/*h2{
    font-size: 24px;
}

#content-header{
    font-size: 18px;
    color: red;
}
span{
    display: block;
    color: blue;
}
.deck{
    color: red;
}*/


/*Conflicts and Cascade*/


/*span{
    color: blue;
}

span{
    color: red;
}*/
/*body{
    color:red;

}
div{
    color: #dab420;
}
p{
    color: green;
}
a{
    color: yellow;
}*/


/*CONFLICTS AND SPECIFICITY*/


/*#mainContent p{
    color: red;
}

p{
    color:black;
}
strong{
    color: green;
}*/
/*The IMPORTANT DECLARATION*/
/*p {
    color: red !important;
}
#mainContent p{
    color: green;
}*/


/*TARGETING MULTIPLE ELEMENTS*/


/*p, span, a, li{
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, serif;
}*/


/*DESCENDANTS*/


/*#subContent p{
    color: red;
}*/


/*CHildren & Children SELECTORS*/


/*#mainContent > p{
    color: red;
}*/


/*Adjacent Selectors*/


/*#allArticles h2 + p{
    color: green;
}*/


/*Attribute Selectors*/


/*span[class ~="deck"]{
    color: purple;
}

div [id]{
    background: grey;
}

a[title="Search engine"]{
    color: red;
}*/


/*Pseudo Selectors*/


/*a:hover{
    color: red;
}*/


/*Hover & Visited & Active classes*/


/*a:hover{
    color: red;
}

a:active{
    color:orange;
}
a:visited{
    color: purple;
}*/


/*First & Last child Pseudo Class*/


/*article p:first-of-type{
    font-weight:bold;
}
article p:last-of-type{
    color: red;
}*/


/*NTH Child Pseudo Class*/


/*li:nth-child(1), li:nth-child(7){*/
    /*font-weight: bold;*/
/*}*/

/*li:nth-child(even){*/
    /*background: red;*/
/*}*/
/*li:nth-child(odd){*/
    /*background: pink;*/
/*}*/

/*li:nth-child(2n + 1){*/
    /*color: green;*/
/*}*/


/*Nth child pseudo Class cont*/


/*article:nth-of-type(1){*/
    /*background-color: grey;*/

/*}*/

/*article:nth-of-type(odd){*/
    /*background-color: grey;*/

/*}*/


/*Combinig Selectors*/


/*article.featuredContent{*/
    /*background: red;*/
/*}*/

/*div.featuredContent{*/
    /*background: blue;*/
/*}*/


/*Universal Selecotrs*/