/*Targeting ELEMENTS / TAGS*/


/*p{
    font-size:12px;
    color: red;
}

a{
    text-decoration: underline;
    color: blue;
}
span{
    text-transform: uppercase;
}

h1{
    font-size: 32px;
}
div{
    width:100%;
    background-color: grey;
}
*/


/*Targeting ELEMENTS / TAGS*/


/*h2{
    font-size: 24px;
}

#content-header{
    font-size: 18px;
    color: red;
}
span{
    display: block;
    color: blue;
}
.deck{
    color: red;
}*/


/*Conflicts and Cascade*/


/*span{
    color: blue;
}

span{
    color: red;
}*/
/*body{
    color:red;

}
div{
    color: #dab420;
}
p{
    color: green;
}
a{
    color: yellow;
}*/


/*CONFLICTS AND SPECIFICITY*/


/*#mainContent p{
    color: red;
}

p{
    color:black;
}
strong{
    color: green;
}*/
/*The IMPORTANT DECLARATION*/
/*p {
    color: red !important;
}
#mainContent p{
    color: green;
}*/


/*TARGETING MULTIPLE ELEMENTS*/


/*p, span, a, li{
    color: red;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, serif;
}*/


/*DESCENDANTS*/


/*#subContent p{
    color: red;
}*/


/*CHildren & Children SELECTORS*/


#mainContent > p{
    color: red;
}